@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    margin: 0;
    padding: 0;
}

h1{
    font-family: 'Merriweather', sans-serif;
    font-weight: bold;
}

p{
    font-family: 'Raleway', sans-serif;
    color: #333;
}
